* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #6a85b6, #bac8e0);
    color: #333;
    font-weight: 600;
}

.container {
    border: 0.5px solid #ccc;
    border-radius: 10px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1), 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.container h1 {
    font-size: 1.6rem;
    margin-block: 8px;
    color: #444;
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 16px;
    right: 6px;
    color: #777;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.passBox {
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    font-size: 18px;
    margin-block: 8px;
    color: #555;
    text-overflow: ellipsis;
}

.row {
    display: flex;
    margin-block: 8px;
}

.row p, .row label {
    flex-basis: 100%;
    font-size: 16px;
    color: #555;
}

.row input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.genBtn {
    border: none;
    outline: none;
    background-color: #4b79a1;
    padding: 12px 24px;
    color: #fff;
    font-size: 18px;
    margin-block: 8px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.genBtn:hover {
    background-color: #30597d;
}
